<ul class="user-list" th:fragment="userList">
    <li class="user-card" th:each="user, iterStat : ${users}">
        <div class="user-image">
            <img
                    alt="대체 이미지"
                    class="user-image"
                    th:src="@{/images/{imageName}.png(imageName=${user.tier.tier})}"/>
        </div>
        <div class="user-info">
            <div class="user-info-container">
                <div style="display: flex;">
                    <img src="https://s-lol-web.op.gg/images/icon/icon-op-lp.svg?v=1729058249"
                         th:if="${iterStat.index == 0}"/>
                    <div class="user-nickname"
                         th:text="${user.nickName == '' ? '닉네임 없음' : user.nickName}"></div>
                </div>
                <!--                <img alt="대체 이미지" th:src="${user.profilePictureUrl}"/>-->
                <div class="user-name" th:text="${user.name}"></div>
            </div>
            <div class="user-tier">
                <div th:text="${user.tier.tier}">No email available</div>
                <div th:text="${user.tier.tierNumber}"></div>
            </div>
        </div>
    </li>
</ul>
