<head>
    <meta charset="UTF-8">
    <title>에어라인 레이팅 사이트</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}"/>
    <meta
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
            name="viewport"
    />
    <link href="https://fonts.googleapis.com/css2?family=Spoqa+Han+Sans&display=swap" rel="stylesheet">
    <meta content="https://aairline.site" property="og:url"/>
    <meta content="에어라인 레이팅" property="og:title"/>
    <meta content="국내 최초 홀덤 레이팅 시스템" property="og:description"/>

    <!-- 옵션 -->
    <meta content="/images/logo.png" property="og:image"/>
    <meta content="에어라인" property="og:site_name"/>
</head>
